<% goal.bad_habits.each do |bad_habit| %>
  <li class="list-group-item list-group-item-action d-flex justify-content-between">
    <%= bad_habit.name %>

    <% if log?(Date.current, bad_habit.bad_logs) %>
      <%= link_to 'やっぱり戻す', bad_log_path(bad_habit), method: :delete, class: 'btn btn-sm btn-outline-primary' %>
    <% else %>
      <%= form_with model: bad_log, local: true do |f| %>
        <%= f.hidden_field :log, value: 1 %>
        <%= f.hidden_field :bad_habit_id, value: bad_habit.id %>
        <%= f.submit '× やっちゃった..', class: 'btn btn-sm btn-primary' %>
      <% end %>
    <% end %>
  </li>  
<% end %>