<% goal.good_habits.each do |good_habit| %>
  <li class="list-group-item list-group-item-action d-flex justify-content-between">
    <%= good_habit.name %>
    
    <% if log?(Date.current, good_habit.good_logs) %>
      <%= link_to 'やっぱり戻す..', good_log_path(good_habit), method: :delete, class: 'btn btn-sm btn-outline-success' %>
    <% else %>
      <%= form_with model: good_log, local: true do |f| %>
        <%= f.hidden_field :log, value: 1 %>
        <%= f.hidden_field :good_habit_id, value: good_habit.id %>
        <%= f.submit '◯ やれた！', class: 'btn btn-sm btn-success' %>
      <% end %>
    <% end %>
  </li>  
<% end %>