<% if logged_in? %>
  <% @goals.each do |goal| %>
    <h4 class="text-center">目標：<%= goal.name %></h4>
    <div class="row">
      <%= render 'toppages/habits', goal: goal, log: @good_log %>
      <%= render 'toppages/habits', goal: goal, log: @bad_log %>
    </div>
  <% end %>
<% else %>
  <div class="text-center">
    <h3>ようこそ、HabiLogへ！</h3>
    <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
