<% if logged_in? %>
<% @goals.each do |goal| %>
  <div class="card mb-4">
    <h4 class="card-header text-center">目標：<%= goal.name %></h4>
    <div class="card-body">
      <div class="row">
        <%= render 'habits', goal: goal, log: @good_log %>
        <%= render 'habits', goal: goal, log: @bad_log %>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @goals %>

<% else %>
  <div class="text-center">
    <h3>ようこそ、HabiLogへ！</h3>
    <%= link_to 'アカウント作成', signup_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
