<% @goals.each do |goal| %>
  <div class="card mb-4">
    <h4 class="card-header text-center">目標：<%= goal.name %></h4>
    <div class="card-body">
      <div class="row">
        <%= render 'habits', goal: goal, habits: goal.good_habits %>
        <%= render 'habits', goal: goal, habits: goal.bad_habits %>
      </div>
    </div>

    <div class="text-right pr-2 pb-2">
      <%= link_to '習慣を追加', new_goal_good_habit_url(goal), class: 'btn btn-sm btn-primary' %>
      <%= link_to '目標を編集', edit_goal_path(goal), class: 'btn btn-sm btn-success' %>
      <%= link_to '目標を削除', goal_path(goal), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: '本当に削除してもよろしいですか？' } %>
    </div>
  </div>
<% end %>

<%= paginate @goals %>