<div class="text-center">
  <h1>新しい目標を設定しよう</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @goal, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '目標' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <%= f.submit '目標を設定', class: 'btn btn-primary btn-block' %>
    <% end %>

  </div>
</div>