<div class="col-sm-12">
  <div class="card mb-3">
    <h5 class="card-header">
      <% if habits == goal.good_habits %>
        やるべき習慣
      <% else %>
        やめるべき習慣
      <% end %>
    </h5>
    
    <div class="card-body">
      <ul class="list-group list-group-flush">

        <% habits.each do |habit| %>
          <li class="list-group-item list-group-item-action d-flex justify-content-around">
            <h6><%= habit.name %> <small>(<%= l habit.created_at %>~ <%= days(habit) %>日目)</small></h6>
            
              <% if habits == goal.good_habits %>
                <% if good_log_counts(habit) != 0 %>
                  <h5><%= good_log_counts(habit) %>日<small>（習慣化日数）</small></h5>
                <% end %>
                <% if good_daily(habit.good_logs) %>
                  <h5><strong class="text-danger">現在 <%= good_daily(habit.good_logs) %>日連続</strong> 継続中</h5>
                <% end %>
                
              <% else %>
                <% if bad_log_counts(habit) != 0 %>
                  <h5><%= bad_log_counts(habit) %>日<small>（やめた日数）</small></h5>
                <% end %>
                <% if bad_daily(habit.bad_logs, habit) %>
                  <h5><strong class="text-danger">現在 <%= bad_daily(habit.bad_logs, habit) %>日連続</strong> 継続中</h5>
                <% end %>
              <% end %>
              
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
