<% @goals.each do |goal| %>

  <h4 class="text-center">目標：<%= goal.name %>に向けた今日までのがんばり</h4>
  <p class="text-right"><%= l goal.created_at %>(目標設定日)</p>
  <div class="row">
    <%= render 'habit_logs', goal: goal, habits: goal.good_habits %>
    <%= render 'habit_logs', goal: goal, habits: goal.bad_habits %>
  </div>
  
<% end %>

<%= paginate @goals %>
